<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.irisa.fr/cairn/polymodel/prdg"
            class="org.polymodel.prdg.PrdgPackage"
            genModel="model/prdg.genmodel"/>
   </extension>

</plugin>
