<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.Alphabets.xtext" 
       class = "edu.csu.melange.alphabets.xtext.alphabets.AlphabetsPackage"
       genModel = "edu/csu/melange/alphabets/xtext/Alphabets.genmodel" /> 
	
  </extension>





</plugin>
