<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://polymodel.scop"
            class="org.polymodel.scop.ScopPackage"
            genModel="model/scop.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://polymodel/scop/annotation"
            class="org.polymodel.scop.annotation.AnnotationPackage"
            genModel="model/scop.genmodel"/>
   </extension>

</plugin>
